* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(67, 165, 255, 1);
}

.containerHeader {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

#tituloHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#buttonLogin {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 27px;
  background-color: transparent;
  border: 3.5px solid black;
  border-radius: 10px;
  width: 6.81rem;
  height: 3rem;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  #tituloHeader {
    font-size: 1.5rem; 
  }

  #buttonLogin {
    font-size: 1.4rem;
    width: 5.5rem;
    height: 2.5rem;
    border: 2.5px solid black;
  }
}

@media (max-width: 480px) {
  #tituloHeader {
    font-size: 1.2rem; 
  }

  #buttonLogin {
    font-size: 1.15rem;
    width: 4.5rem;
    height: 2rem;
    border: 2.5px solid black;
  }
}

#sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-bottom: 25px;
  background-color: rgba(30, 30, 30, 1);
}

#informationsSectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#titleSectionOne {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  text-align: center;

  margin-top: 30px;
}

#descSectionOne {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#buttonsSectionOne {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.buttonSectionOne {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  background-color: black;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .buttonSectionOne {
    font-size: 18px; 
  }
}

@media (max-width: 768px) {
  .buttonSectionOne {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .buttonSectionOne {
    font-size: 14px; 
  }
}


#searchBooks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchBook {
  width: 35rem;
  height: 3.19rem;
  padding-left: 15px;
  margin: -8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
}

#searchBook::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #888;
}

#buttonSearch {
  width: 3rem;
  height: 3.19rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: black;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #searchBook {
    width: 30rem;
    height: 2.5rem;
  }

  #buttonSearch {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 768px) {
  #searchBook {
    width: 20rem;
    height: 2.5rem;
  }

  #buttonSearch {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 480px) {
  #searchBook {
    width: 15rem;
    height: 2rem;
  }

  #buttonSearch {
    width: 2rem;
    height: 2rem;
  }
}

#sectionTwo {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

#sectionTwo > h2{
  margin: 1% 10% 1%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.gridBooks {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-items: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-left: 6%;
  margin-right: 6%;
}

@media (max-width: 1024px) {
  .gridBooks {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .gridBooks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gridBooks {
    grid-template-columns: repeat(1, 1fr);;
  }
}

.imageLivro{
  width: 204px;
  border-radius: 6px;
}

.tituloAutor{
  display: flex;
  flex-direction: column;
}

.tituloAutor{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.tituloAutor > h3{
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#sectionThree {
  width: 100%;
  background-color: rgba(30, 30, 30, 1);
  padding-bottom: 30px;
}

.divOne {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#comoFunciona {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

#comoFunciona > h2 {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
}

#comoFunciona > p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

#passoPasso {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 30px;
}

@media (max-width: 1024px) {
  #passoPasso {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #passoPasso {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #passoPasso {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

#passoPasso > div > h3{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

#passoPasso > div > p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

.cadastrese{
  margin-bottom: 25px;
}

.cadastrese > a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .cadastrese > a {
    font-size: 18px; 
  }
}

@media (max-width: 768px) {
  .cadastrese > a {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .cadastrese > a {
    font-size: 14px; 
  }
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}

.divTwo {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#recursos {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

#recursos > h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
}

#recursos > p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

#tipoRecursos {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: white;
}

@media (max-width: 1024px) {
  #tipoRecursos {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #tipoRecursos {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #tipoRecursos {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

#tipoRecursos > h3{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 20.13rem;
  background-color: black;
  position: relative;
  bottom: 0;
  color: white;
  align-items: center;
  justify-items: center;
}

footer > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  margin: 0;
}

#redeSocial{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
